@media(max-width: 600px) {

  body {
    margin: 0;
  }

  .header-list {
    display: none;
  }

  .header-list-icon {
    display: block;
  }

  .footer-right {
    display: block;
  }

  .footer-introduce {
    width: 150px;
  }

  .search-field {
    width: 150px;
  }
}